{% extends "base.html" %}

{% block head %}
  {{ super() }}

{% endblock %}

    {% block navbar %}
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
              <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </a>
              <a class="brand" href="/admin">HeaderFile.me Admin</a>
              <div class="nav-collapse">
                <ul class="nav">
                  <li><a href="/admin/users">Users</a></li>
                </ul>
                  <ul class="nav secondary-nav pull-right">
                            <li><a href="{{ url_for("admin.user_create") }}">{{ 'user'|title }}</a></li>
                        {% for type in ('post', 'video', 'image', 'quote') %}
                            <li><a href="{{ url_for("admin.create", type=type) }}">{{ type|title }}</a></li>
                        {% endfor %}
                    </li>
                  </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
    </div>
    {% endblock %}


