{% extends "admin/base.html" %}

{% block content %}
  <table class="table table-bordered table-striped">
    <colgroup>
      <col class="span3">
      <col class="span1">
      <col class="span4">
    </colgroup>
    <thead>
      <th>Title</th>
      <th>Created</th>
      <th>Actions</th>
    </thead>
    <tbody>
    {% for post in posts %}
      <tr>
        <th><a href="{{ url_for('admin.edit', slug=post.slug) }}">{{ post.title }}</a></th>
        <td>{{ post.created_at.strftime('%Y-%m-%d') }}</td>
        <td><a href="{{ url_for("admin.edit", slug=post.slug) }}" class="btn primary">Edit</a> <a href="{{ url_for("admin.delete", slug=post.slug) }}" class="btn primary">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}