{% extends "base.html" %}
{% import "_forms.html" as forms %}

{% block content %}
  <h2>
      Edit User
  </h2>

  <form action="?{{ request.query_string }}" method="post">
    {{ forms.render(form) }}

    <div class="clearfix">
      <label for="industries[]">Industries</label>
      <ul class="twocol">
      {% for industry_choice in industry_choices %}
        <li>
          <input {% if user.industries|contains_choice(industry_choice[0]) %} checked="checked" {% endif %} type="checkbox" name="industries[]" value="{{ industry_choice[0] }}" /> {{ industry_choice[1] }}<br />
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="clearfix">
      <label for="technologies[]">Technologies</label>
      <ul class="fourcol">
      {% for technology_choice in technology_choices %}
        <li>
        <input {% if user.technologies|contains_choice(technology_choice[0]) %} checked="checked" {% endif %} type="checkbox" name="technologies[]" value="{{ technology_choice[0] }}" /> {{ technology_choice[1] }}<br />
        </li>
      {% endfor %}
      </ul>
    </div>

    <div class="actions">
      <input type="submit" class="btn primary" value="Save">
      <a href="{{ url_for("users.details", username=user.username) }}" class="btn secondary">Cancel</a>
    </div>
  </form>
{% endblock %}